@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 1px solid rgb(2, 255, 78);*/
}

:root {
    --colorwhite__: #ffffff;
    --maincolor001: #0A0A0A;
    --maincolor002: #161616;
    --maincolor003: #1D1C1C;
    --maincolor004: #232323;
    --maincolor005: #2C2C2C;
    --maincolor006: #363636;
    --maincolor007: #454444;
    --maincolor008: #00072D;
    --maincolor009: #051650;
    --maincolor010: #0A2472;
    --maincolor011: #123499;
    --maincolor012: #1A43BF;
    --textstrong01: #2cb2ff;
}

html {
    background-color: black;
}

body {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-image: url(../img/img-fundo-001.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

/********************************************************/

/*HEADER*/

header {
    min-height: 15dvh;
    width: 100%;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.container-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.container-logo {
    text-shadow: 0 0 10px black;
}

.container-logo a {
    text-decoration: none;
}

.container-logo h3 {
    color: white;
    text-shadow: -2px -2px 20px rgba(255, 255, 255, 0.623);
}

.container-logo h2 {
    color: var(--maincolor012);
    text-shadow: -2px -2px 20px var(--maincolor011);
}

nav.container-menus ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menu {
    height: 42px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    animation: ease-in-out;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    animation: ease-in-out;
}

#btnDestaque {
    height: 50px;
    width: 200px;
    text-shadow: 0 0 10px black;
    background-image: linear-gradient(to right, var(--maincolor010), var(--maincolor012));
    transition: 0.3s;
    animation: ease-in-out;
}

.menu#btnDestaque:hover {
    text-shadow: 0 0 10px white;
    background-image: linear-gradient(to right, var(--maincolor002), var(--maincolor001));
    border: 2px solid var(--maincolor012);
    box-shadow: 0 0 10px var(--maincolor011);
    transition: 0.3s;
    animation: ease-in-out;
}

.menu:hover {
    height: 40px;
    text-shadow: 0 0 10px white;
    background-image: linear-gradient(to right, var(--maincolor002), var(--maincolor001));
    border-bottom: 2px solid var(--maincolor012);
    transform: translate(0px, 4px);
    transition: 0.3s;
    animation: ease-in-out;
}
/********************************************************/

/*CONTEÚDOS*/
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.introduction {
    height: max-content;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(10px);
}

.introduction article {
    margin-top: 30px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;
    color: white;
    text-shadow: 0 0 20px black;
    text-align: center;
}

.introduction article h1 {
    font-size: 3em;
    color: var(--textstrong01);
}

.introduction article h2 {
    font-size: 1.3em;
    color: white;
}

.introduction article p {
    font-size: 1.1em;
    color: rgb(236, 236, 236);
}

/*CARDS*/

.container-cards {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    height: 200px;
    width: 175px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--maincolor001), var(--maincolor003));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
    transition: 0.3s;
    animation: ease-in-out;
}

.card .material-symbols-outlined {
    font-size: 5em;
    color: var(--maincolor012);
    text-shadow: -2px -2px 20px var(--maincolor011);
}

.card p {
    margin-top: 30px;
    text-align: center;
    color: white;
}

#btnSaibaMais {
    margin-top: 15px;
    padding: 10px;
    width: 175px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 10px black;
    color: white;
    background-image: linear-gradient(to right, var(--maincolor010), var(--maincolor012));
    cursor: pointer;
    transition: 0.3s;
    animation: ease-in-out;
}

#btnSaibaMais:hover {
    text-shadow: 0 0 10px white;
    background-image: linear-gradient(to right, var(--maincolor002), var(--maincolor001));
    outline: 2px solid var(--maincolor012);
    box-shadow: 0 0 10px var(--maincolor011);
    transition: 0.3s;
    animation: ease-in-out;
}

/*CONTEÚDOS PT.2*/

section.sobre {
    background-color: var(--maincolor001);
    color: white;
    height: max-content;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container-sobre {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.article-sobre {
    width: 100%;
    max-width: 535px;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.article-sobre h1 {
    width: max-content;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    
    color:white;
    background-color: var(--maincolor012);
    box-shadow: 0 0 20px blue;
    text-shadow: 0 0 10px black;
}

.article-sobre p {
    text-align: justify;
    line-height: 1.5em;
    text-shadow: 0 0 10px black;
}

.article-sobre p strong {
    color: var(--textstrong01);
}

.generic002 {
    border: 1px solid blue;
    box-shadow: 0 0 20px blue;
}

.generic003 {
    width: 100%;
    max-width: 535px;
    display: flex;
    justify-content: center;
}

.aside-sobre {
    height: 400px;
    width: 400px;

    background-image: url(../img/img001.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    box-shadow: 3px 3px 10px black;
}

/********************************************************/

/*FOOTER*/

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}